<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>钦州旅游网 - 惠民卡主页</title>
<load type="css" file="__PUBLIC__/Css/base.css" />
<load type="css" file="__PUBLIC__/css/lrtk.css" />
<load type="js" file="__PUBLIC__/js/jquery.min.js" />
<load type="js" file="__PUBLIC__/js/responsiveslides.min.js" />
<load type="js" file="__PUBLIC__/js/slide.js" />
</head>

<body>
<include file="Index/header" />
<div class="main">
	<div class="banner">
        <!-- 代码 开始 -->
            <div class="slide_container">
              <ul class="rslides" id="slider">
                <li>
                  <img src="__PUBLIC__/images/1.jpg" alt="">
                </li>
                <li>
                  <img src="__PUBLIC__/images/2.jpg" alt="">
                </li>
              </ul>
            </div>
        <!-- 代码 结束 -->
    </div>
    <!-- 分类菜单 -->
    <div class="tp_main_menu">
    	<ul>
        	<li><a href="/index.php/home/Index/UserSet"><img src="__PUBLIC__/images/gk.png" /></a><!--<a href="/index.php/home/User/spadmin_list.html"><img src="__PUBLIC__/images/yd.png" /></a>--></li>
            <li>
            <a href="/index.php/home/User/xuzhi"><img src="__PUBLIC__/images/xuzhi.png" /></a>
            <!--<a href="/index.php/home/User/dd_list"><img src="__PUBLIC__/images/dd.png" /></a>--></li>
            <li><a href="/index.php/home/index/UserSet"><img src="__PUBLIC__/images/hy.png" /></a></li>
            <li><a href="{:U('StoreIndex/index')}"><img src="__PUBLIC__/images/yd.png" /></a><!-- <a href="/index.php/home/index/help_list"><img src="__PUBLIC__/images/zn.png" /></a> --></li>
            <li><a href="/index.php/home/vip/vip_news_list"><img src="__PUBLIC__/images/zx.png" /></a></li>
            <li><a href="/index.php/home/index/about"><img src="__PUBLIC__/images/lxwm.png" /></a></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

<!--<include file="Index/footer" />
-->	

		<include file="index:footer"/>

</body>
</html>
